@import "../variables";

.notification-box {
  position: fixed;
  height: 10rem;
  border-style: solid;
  border-width: 1px;
  color: $white;

  &.box-bottom {
    bottom: 0;
    right: 0;
  }

  &.box-success {
    background-color: $green;
    border-color: $green-light;
  }
}

.error {
  color: $error;
  font-weight: 700;
  opacity: 1;
}
