@import "variables";
@import "media";

.notification-box {
  position: fixed;
  height: 10rem;
  font-size: 1.15rem;
  padding: 1.5rem;
  border-style: solid;
  border-width: 1.5px;
  color: $white;

  @include mobile {
    width: 100%;
  }

  &.box-bottom {
    bottom: 0;
    right: 0;
  }

  &.box-success {
    background-color: $green;
    border-color: $green-light;
  }

  .button-close {
    margin-top: 10px;
    width: 100%;
    background: $orange;
  }

  a {
    color: $white;
  }
}

.error {
  color: $error;
  font-weight: 700;
  opacity: 1;
}
