// -----------------------
// <----- VARIABLES ----->
// -----------------------

// Colors
$clouds: #ecf0f1;
$error: #e74c3c;
$success: #2ecc71;
$black: #000;
$white: #fff;
$belize: #2980b9;
$green: #3a945b;
$green-light: #43AC6A;
$emerald: #2ecc71;
$red: #e74c3c;
$orange: #e67e22;
$midnight: #2c3e50;
$abestos: #7f8c8d;

//Fonts
$roboto: "Roboto";

//Sizes
$header-margin: 1rem;
