// -----------------------
// <----- VARIABLES ----->
// -----------------------

// Colors
$clouds: #ecf0f1;
$error: #e74c3c;
$success: #2ecc71;
$white: #fff;
$green: #3a945b;
$green-light: #43AC6A;

//Fonts
$roboto: "Roboto";
