<template>

  <require from="components/header/custom-header"></require>
  <require from="components/modal/modal"></require>

  <custom-header></custom-header>

  <div class="full-height custom-center">

    <main>
      <div class="row overflow-x">
        <table>
          <thead>
            <tr>
              <th class="text-center" repeat.for="header of headers" name.bind="header">${header}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center" repeat.for="data of data" name.bind="data">${data}</th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TODO   -->
      <!-- <div class="row align-right">
        <button class="button large" click.trigger="openModal()">Erase all the data</button>
      </div> -->

    </main>
  </div>

  <modal></modal>

</template>
