<template>

  <div class="custom-center full-height">
    <div class="row align-center">
      <div class="small-10 text-center">

        <form role="form" submit.trigger="validate()" novalidate>
          <input id="email" type="email" value.bind="email" autocomplete="off">
          <label class="text-large" for="email">Please login with your e-mail address</label>
          <p class="animation text-medium bold ${hideError ? 'not-visible' : 'error'}" ref="errorHolder">${errorMessage}</p>
          <button class="button large">Log me in</button>
        </form>

      </div>
    </div>
  </div>

</template>
